@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./breakpoints.scss";
@import "/public/icons/style.css";

* {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
body {
  background: #333 !important;
  transform: scale(0.975);
  @include md {
    transform: scale(1) !important;
  }
}
h1,
.h4 {
  font-weight: 700 !important;
}
.container {
  height: 100vh;
}

span.bracket {
  color: #8c31e0;
}

a {
  transition: all 0.15s ease-in-out;
  &:hover {
    text-decoration: none !important;
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.219);
    .bracket {
      text-shadow: 0 0 16px #bf87f3;
    }
  }
}
.lead {
  font-size: 1rem !important;
}
.contact {
  p,
  a {
    font-weight: 300;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.icons {
  color: #fff;
  height: 2rem;
  width: 2rem;
  display: inline;
}
